@model IEnumerable<Chinook.Domain.Entities.Artist>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div ng-controller="artistIndexCtrl as vm">
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>


        <tr ng-repeat="item in vm.pagableResults.Results">
            <td>
                {{item.Name}}
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.ArtistId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ArtistId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ArtistId })*@
            </td>
        </tr>

    </table>
    <pagination total-items="vm.pagableResults.TotalCount" ng-model="vm.currentPage" ng-change="vm.pageChanged()" max-size="vm.pageSize" class="pagination-sm" boundary-links="true"></pagination>

</div>