@model IEnumerable<Chinook.Domain.Entities.Genre>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div ng-controller="genreIndexCtrl as vm">
    <div style="float: right" class="btn-group" dropdown>
        <button type="button" class="btn btn-primary">{{vm.pageSize}} Items per page</button>
        <button type="button" class="btn dropdown-toggle">
            <span class="caret"></span>
            <span class="sr-only">Split button!</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#" ng-click="vm.pageSize=10;vm.pageChanged()">10</a></li>
            <li><a href="#" ng-click="vm.pageSize=20;vm.pageChanged()">20</a></li>
            <li><a href="#" ng-click="vm.pageSize=50;vm.pageChanged()">50</a></li>
        </ul>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>


        <tr ng-repeat="item in vm.pagableResults.Results">
            <td>
                <a href="/genre/Edit/{{item.GenreId}}">{{item.Name}}</a>
            </td>
            <td style="width: 50px;">

                <a href="" ng-click="vm.deleteGenre(item.GenreId)"><i class="fa fa-trash-o"></i></a>
            </td>
        </tr>
    </table>
    <pagination total-items="vm.pagableResults.TotalCount" items-per-page="vm.pageSize" ng-model="vm.currentPage" ng-change="vm.pageChanged()" max-size="10" class="pagination-sm" boundary-links="true"></pagination>
</div>
@section Scripts {
    <script src="~/app/genre/index.js"></script>
    <script src="~/app/services/genreDataService.js"></script>
}