@model IEnumerable<Chinook.Domain.Entities.Invoice>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div ng-controller="invoiceIndexCtrl as vm">
    <div style="float: right" class="btn-group" dropdown>
        <button type="button" class="btn btn-primary">{{vm.pageSize}} Items per page</button>
        <button type="button" class="btn dropdown-toggle">
            <span class="caret"></span>
            <span class="sr-only">Split button!</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#" ng-click="vm.pageSize=10;vm.pageChanged()">10</a></li>
            <li><a href="#" ng-click="vm.pageSize=20;vm.pageChanged()">20</a></li>
            <li><a href="#" ng-click="vm.pageSize=50;vm.pageChanged()">50</a></li>
        </ul>
    </div>
    <table class="table">
        <tr>
            <th>
                CustomerId
            </th>
            <th>
                InvoiceDate
            </th>
            <th>
                BillingAddress
            </th>
            <th>
                BillingCity
            </th>
            <th>
                BillingState
            </th>
            <th>
                BillingCountry
            </th>
            <th>
                BillingPostalCode
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>


        <tr ng-repeat="item in vm.pagableResults.Results">
            <td>
                {{item.CustomerId}}
            </td>
            <td>
                {{item.InvoiceDate}}
            </td>
            <td>
                {{item.BillingAddress}}
            </td>
            <td>
                {{item.BillingCity}}
            </td>
            <td>
                {{item.BillingState}}
            </td>
            <td>
                {{item.BillingCountry}}
            </td>
            <td>
                {{item.BillingPostalCode}}
            </td>
            <td>
                {{item.Total}}
            </td>
            <td>
                <a href="" ng-click="vm.deleteGenre(item.InvoiceId)"><i class="fa fa-trash-o"></i></a>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.InvoiceId }) |
                @Html.ActionLink("Details", "Details", new { id = item.InvoiceId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.InvoiceId })*@
            </td>
        </tr>


    </table>
    <pagination total-items="vm.pagableResults.TotalCount" items-per-page="vm.pageSize" ng-model="vm.currentPage" ng-change="vm.pageChanged()" max-size="10" class="pagination-sm" boundary-links="true"></pagination>
</div>
@section Scripts {
    <script src="~/app/invoice/index.js"></script>
    <script src="~/app/services/invoiceDataService.js"></script>
}