<div class="jumbotron">
    <h1>Chinook Sample Application</h1>
    <p class="lead">Some description for the Chinook database sample application.</p>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>By Genre</h2>
        <p>List of Genre</p>
        <p><a class="btn btn-default" href="~/genre/index">See Genres</a></p>
    </div>
    <div class="col-md-4">
        <h2>By Artists</h2>
        <p><a class="btn btn-default" href="~/artist/index">See Artists</a></p>
    </div>
    <div class="col-md-4">
        <h2>By Albums</h2>
        <p><a class="btn btn-default" href="~/album/index">See Albums</a></p>
    </div>
</div>
